{% extends 'base.html' %}

{% block title %}
    {{listing.address}}
{% endblock %}


{% block content %}

    <h3>{{listing.address}}</h3>

    <p>Price: $ {{listing.price}}</p>
    <p>Beds: {{listing.beds}}</p>
    <p>Baths: {{listing.baths}}</p>
    <p>Sqft:{{listing.sqrt}}</p>
    <p>Description: {{listing.description}}</p>

    <a href="{% url 'update' listing.pk %}" onclick="return confirm('Do you want to update?')" >Update</a>
    <span>|</span>
    <a href="{% url 'delete' listing.pk %}" onclick="return confirm('Do you want to delete?')" >Delete</a>

{% endblock %}